.header{
    overflow: hidden;
    background-color: rgb(53, 68, 116);
    padding: 20px 10px;
}

.header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

