.bg-image-vertical{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position:left center ;
    background-size: auto 100%;
    object-fit: cover;
    object-position: right;

}

.form-body{
    width: 23rem;
}
.h3-text{
    letter-spacing: 1px;
}
@media (min-width: 1025px){
    .h-custom-2{
        height: 100%;
    }
}