.card{
    position: absolute;
    top: 50%;
    right: 0%;
    width: 400px;
    padding: 40px;
    transform: translate(0%,-50%);
    background: rgba(70, 9, 9, 0.5);
    box-sizing: content-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 9px;
}